<div class='fsm-view-container' #outsideDiv style='width:100%;' [style.height.px]='outsideDiv.offsetWidth'>
  <div style='width:100%;height:100%;overflow: scroll'>
    <div style='overflow: hidden;' [style.width.px]='scrollSize' [style.height.px]='scrollSize'>
      <svg:svg class='fsm-view-window' [attr.width]='windowSize' [attr.height]='windowSize' [attr.viewBox]='scaleBox'>
        <svg:defs>
          <svg:marker id="arrow" markerWidth="9" markerHeight="6" refX="9" refY="3" orient="auto" markerUnits="strokeWidth">
            <svg:path d="M0,0 L0,6 L9,3 z" fill="#f00" />
          </svg:marker>
        </svg:defs>
        <ng-template ngFor let-state [ngForOf]='fsm.states'>
          <ng-template [ngIf]='state.start'>
            <svg:circle class='fsm-view-state' [attr.cx]='state.position.x' [attr.cy]='state.position.y' [attr.r]='stateRadius'
              fill='yellow' stroke='blue' stroke-width='2'></svg:circle>
          </ng-template>
          <ng-template [ngIf]='!state.start'>
            <svg:circle class='fsm-view-state-start' [attr.cx]='state.position.x' [attr.cy]='state.position.y' [attr.r]='stateRadius'
              fill='white' stroke='blue' stroke-width='2'></svg:circle>
          </ng-template>
          <ng-template [ngIf]='state.final'>
            <svg:circle class='fsm-view-state-final' [attr.cx]='state.position.x' [attr.cy]='state.position.y' [attr.r]='stateRadius*.85'
              [attr.fill]='state.start?"yellow":"white"' stroke='blue' stroke-width='2'></svg:circle>
          </ng-template>
          <svg:text class='fsm-view-state-text' [attr.x]='state.position.x' [attr.y]='state.position.y' fill='blue' dy='.4em'
            text-anchor='middle' font-weight='bold'>
            {{state.label}}
          </svg:text>

          <svg:circle [attr.cx]='state.position.x' [attr.cy]='state.position.y' [attr.r]='stateRadius' fill='transparent'
            stroke='none' stroke-width='2'></svg:circle>

          <svg:rect class='fsm-view-state-selected' [attr.x]='state.position.x-stateRadius-1' [attr.y]='state.position.y-stateRadius-1'
            [attr.width]='stateRadius*2+2' [attr.height]='stateRadius*2+2' fill='transparent' [ngClass]='{"fsm-view-state-unselected": !inEditor || !selected===state}'
            stroke='black' stroke-width='1' stroke-dasharray='5px 5px' (click)='onStateClick($event,state)' (dblclick)='onStateDblClick($event,state)'
            (mousedown)='onStateMouseDown($event,state)' (mouseup)='onStateMouseUp($event,state)' (mouseenter)='onStateMouseEnter($event,state)'
            (mouseleave)='onStateMouseLeave($event,state)' (mousemove)='onStateMouseMove($event,state)' (mouseover)='onStateMouseOver($event,state)'></svg:rect>

          <!-- Transitions -->
          <ng-template ngFor let-trans [ngForOf]='state.outboundTransitions' let-i='index'>
            <!-- Draw Transitions here and hook up event handlers to the selected rectangle -->
            <!-- Need to draw a curve with an arrowhead and some concept of concavity and direction of concavity-->
            <!-- Or a loop back to ourself -->
            <!-- Draw Text-->
            <!-- Wrap it in a rotated rect with dashes that are only visible if selected and attach event handlers to the rect 
            <path [attr.d]='getTransPath(state,trans)' stroke="blue" stroke-width="5" fill="none" />
            <svg:line [attr.x1]='(state.position.x+25)' [attr.y1]='state.position.y' [attr.x2]='(state.position.x+distance(state.position,fsm.getStateById(trans.destinationStateId).position))' [attr.y2]='state.position.y' stroke='black'></svg:line>
                <svg:g [attr.transform]='"rotate("+angle(state.position,fsm.getStateById(trans.destinationStateId).position)+" "+state.position.x+" "+state.position.y+")"'>

                </svg:g>            -->
            <ng-template [ngIf]='state.uniqueID!==trans.destinationStateId'>
              <svg:g [attr.transform]='getTransTransform(state,trans)'>
                <svg:path class='fsm-view-transition' [attr.id]='state.uniqueID+i' [attr.d]='getTransPath(state,trans)'
                  stroke="black" stroke-width="2" fill="none" marker-end='url(#arrow)' />
              
                
                  <text stroke='blue' fill='none' stroke-width='1' class='fsm-view-transition-text' dy="+1em">
                    <textPath [attr.href]='"#"+state.uniqueID+i' startOffset='50%' text-anchor='middle'>
                      abcdefg
                    </textPath>
                  </text>
                </svg:g>
              

            </ng-template>
            <ng-template [ngIf]='state.uniqueID===trans.destinationStateId'>
              <svg:g [attr.transform]='"rotate("+trans.offset+" "+state.position.x+" "+state.position.y+")"'>
                <svg:path [attr.d]='getSelfTransPath(state)' stroke='black' stroke-width='2' fill='none' />
                <svg:line [attr.x2]='state.position.x' [attr.x1]='state.position.x' [attr.y2]='state.position.y-stateRadius'
                  [attr.y1]='state.position.y-stateRadius-100' stroke='none' stroke-width='2' marker-end='url(#arrow)'></svg:line>
              </svg:g>
            </ng-template>

          </ng-template>
        </ng-template>
      </svg:svg>
    </div>
  </div>
</div>